/* styles for the nav bar */
body, html{
    background-color: white;
    margin: 0;
    height: 100%;

}
li a {
    background-color: rgb(118, 155, 179);
    color:black;
    text-decoration:none;
    padding:20px;
    float: left;
  }
  
  .navbar{
    background-color: rgb(118, 155, 179);
    overflow:hidden;
    list-style: none;
    font-size:20px;
    padding: 15px;
    margin: 0;
    padding: 0;
  }
  
  .navbar a:hover{
    background-color:grey;
    color:white;
  }

.hero-image{
    background-image:url("https://images.unsplash.com/photo-1563212017-74c3065d552a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  height: 600px;
  overflow: hidden;
}

.herotxt{
   color: white;
   font-size: 50px;
   position: absolute;
   top: 10%;
   left: 25%;
   overflow: hidden;
}
.herotxt h2{
    color: white;
    font-size: 20px;
    text-align: center;
    margin: auto;
    width:500px;
    padding:6px 14px;
    overflow: hidden;
}
button{
padding:10px 25px;
font-size: 25px;
color: lightslategray;
text-align: center;
margin-left: 200px;
margin-right: 50px;


}
footer{
    position: relative;
    text-align:center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;

  
  }
  /* affects the */
  .fa{
    padding:30px;
    width:30px;
    text-align:center;
    text-decoration: none;
  }
  /*Facebook style*/
  .fa-facebook{
    background:#3B5998;
    color:white;
  }
  /*Twitter style*/
  .fa-twitter{
    background:#55ACEE;
    color:white;
  }
  /*Instagram style*/
  .fa-instagram{
    background:#125688;
    color:white;
  }
  .logo img{
    float:left;
    width:5%;
  }
